h1 {
  text-align: center;
  font-family:cursive;
  color: red;
}

img{
  width:300px !important;
  height:300px !important;
  border-radius:25px;
  display:block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

.column {
  float: left;
  width: 333px;
  border-style: solid;
  border-color:gray;
  border-radius:25px;
  text-align: center;
}

.topinfo {
  text-align: center;
  font-style:italic;
  font-family:cursive;

}
